<!DOCTYPE html>
<html>
    <head>
        <title>Transportation Game</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script src="static/js/jquery-3.6.3.min.js"></script>
        <script src="static/js/semantic.js"></script>
        <script src="static/js/head.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/semantic.css">

        {% if is_mobile %} 
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1"> 
        {% endif %}
       
    </head>
    <body>
        <div class="ui main container" id="upload_main_container">
            <h1>网页相关功能正在建设中，请先使用邮箱申请数据集和提交结果。</h1>
            联系邮箱 23111135@bjtu.edu.cn 
            <script type="text/javascript">
                $("#upload_main_container").css("margin-top", $("#menubar").height() * 1.1 );
            </script>
        </div>

        <!-- 底栏开始 -->
        <div id="page_footer" style="width:100%"></div>
        <script type="text/javascript">
            $("#page_footer").load("/footer")
        </script>
        <!-- 底栏结束 -->

    </body>
</html>