<!DOCTYPE html>
<html>
    
    <head>
        <title>Transportation Game</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script src="static/js/jquery-3.6.3.min.js"></script>
        <script src="static/js/semantic.js"></script>
        <!-- <script src="static/js/head.js"></script> -->
        <link rel="stylesheet" type="text/css" href="static/css/semantic.css">

    </head>

    <body>
        <div style="margin: 12px;">
            <h1>
                SQL数据库没有被正确配置，无法完成所请求的功能。    
            </h1> 
            <button class="ui primary button" onclick="window.location='/'">返回主页</button>
        </div>
           
    </body>
</html>