<!DOCTYPE html>
<html>
    
    <head>
        <title>Transportation Game</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script src="static/js/jquery-3.6.3.min.js"></script>
        <script src="static/js/semantic.js"></script>
        <script src="static/js/head.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/semantic.css">

        {% if is_mobile %} 
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1"> 
        {% endif %}
        <script type="text/javascript" src="head.js"></script>
    </head>
    <body>
        <div id="page1"></div>  
        <!-- 排行榜内容 开始-->
        <div class="ui main container" id="rank_page_container"">
            <div id="rank_page_content">

            </div>
            <script type="text/javascript">
                $("#rank_page_content").ready(function(){
                    $("#rank_page_content").load("/markdown_of_rank_page");
                    $("#rank_page_content").css("margin-top", $("#menubar").height() * 1.1 );
                });
            </script>
        </div>
        <!-- 排行榜内容 结束 --> 
    </body>

     
    <script>
        $("#page1").load("header.html"); 
    </script>
</html>