<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8"> 
		<title>Transportation Game</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script src="static/js/jquery-3.6.3.min.js"></script>
        <script src="static/js/semantic.js"></script>
        <script src="static/js/head.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/semantic.css">

        {% if is_mobile %} 
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1"> 
        {% endif %}
        <script type="text/javascript" src="head.js"></script>
		<style>
			.div-a{display: inline-block;}
			.div-b{display: inline-block;}	
		</style>
	</head>
	<body>

		<div id="container" style="width:500px">#一整个容器

		<div id="header" style="background-color:hwb(205 68% 7%);">
		<h3 style="margin-bottom:0;">主要的网页标题</h3></div>

		<div id="questiontext" style="background-color:#FFD700;height:100px;width:100px;float:left;">
		<b>输入要查询的文字内容</b><br>
	
		<div id="questionpic" style="background-color:#FFA500;height:100px;width:100px;clear:both;text-align:center;">
			<b>输入要查询的图片内容</b><br>
		</div></div>
		<div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">
		生成答案</div>



		</div>
 
	</body>
</html>